<div style="position: absolute; top:0px; left:0; right: 0; bottom: 0; background: url(<%LAYOUT_TAG%><%BACKGROUND_TAG%>) no-repeat center center; background-size: cover; ">
</div>
<header >
	<div class="container content">
		<hr class="clear80">
		<hr class="clear60">
		<div class="fluid_grid_10">
			<div class="box_large shadow_inset color_black_low border_radius" style="background: rgba(5,5,5, 0.8);">
				<h2 class="heading2 other color_white"><%LIDIUN_TR%></h2>
				<hr class="clear10">
				<div class="fluid_grid_16">
					<ul class='unstyled heading7 color_white'>
						<li><span class="color_gray_low"><%CREATED_BY_TR%>:</span> <%DYON_ENEDI_TR%></li>
						<li><span class="color_gray_low"><%WHER_WORK_TR%>:</span> <%TRADEPAR_TR%></li>
						<li><span class="color_gray_low"><%FRASE_TR%>:</span> "<%FRASE_DYON_TR%>"</li>
						<li><span class="color_gray_low"><%EMAIL_TR%>:</span> <%EMAIL_DYON_TR%></li>
						<li><span class="color_gray_low"><%SITE_TR%>:</span> <a href="<%SITE_DYON_TR%>" target="_blank" style="color:#37a56f;"><%SITE_DYON_TR%></a></li>
						<li><span class="color_gray_low"><%FACEBOOK_TR%>:</span>  <a href="<%FACEBOOK_DYON_TR%>" target="_blank" style="color:#37a56f;"><%FACEBOOK_DYON_TR%></a></li>
						<li><a href="<%SITE_TRADEPAR_TR%>" target="_blank"><img src="<%LAYOUT_TAG%>img/ico/tradepar.svg" style="width: 300px; margin-top:20px;"/></a></li>
						<hr class="clear20">
					</ul>
				</div>
			</div>
		</div>
		<div class="fluid_grid_6">
			<div class="box_large shadow_inset color_black_low border_radius" style="background: rgba(5,5,5, 0.8);">
				<h2 class="heading2 other color_white"><%PATTERN_TR%></h2>
				<hr class="clear10">
				<div class="fluid_grid_16">
					<ul class='unstyled heading7 color_white'>
						<li><span class="color_gray_low"><%CREATED_BY_TR%>:</span> <%NATAN_DIAS_TR%></li>
						<li><span class="color_gray_low"><%WHER_WORK_TR%>:</span> <%TRADEPAR_TR%></li>
						<li><span class="color_gray_low"><%FRASE_TR%>:</span> "<%FRASE_NATAN_TR%>"</li>
						<li><span class="color_gray_low"><%EMAIL_TR%>:</span> <%EMAIL_NATAN_TR%></li>
						<li><span class="color_gray_low"><%SITE_TR%>:</span> <a href="<%SITE_PATTERN_TR%>" target="_blank" style="color:#37a56f;"><%SITE_PATTERN_TR%></a></li>
						<li class="text_center" style="margin-top: 25px;">
							<a href="<%SITE_PATTERN_TR%>" target="_blank"><img src="<%LAYOUT_TAG%>img/ico/pattern.png" /></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div> 
</header>