<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="" rel="canonical" />
		<link rel="shortcut icon" href="<%LAYOUT_TAG%><%FAVICON_TAG%>" type="image/x-icon">
		
		<title><%SYSTEM_NAME_TAG%> - <%TITLE%></title>
		
		<meta name="description" content="Lidiun Framework is a php framework that help you in your  sistem" />
		<meta name="keywords" content="Lidiun, Framework PHP, Framework, Dyon Enedi, Lidiun Frameworkl" />
		<meta name="author" content="Dyon Enedi da Silva de Souza" />
		<meta name="viewport" content="width=1080, initial-scale=1" />
		
		<link href="<%LAYOUT_TAG%><%CSS_DEFAULT_TAG%>" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Life+Savers|Roboto+Slab&effect=wallpaper&subset=latin" rel="stylesheet" type="text/css" />
		<script src="<%LAYOUT_TAG%><%JS_DEFAULT_TAG%>" type="text/javascript" ></script>
	</head>

	<body class="background_black">
		<!-- Menu -->
		<%MENU%>
		
		<!-- Content -->
		<div id="header">
		<%CONTENT%>
		</div>

		<!-- Footer -->
		<%FOOTER%>
	</body>
</html>