<nav class="fix_top shadow_bottom" style="background: rgba(5,5,5, 0.7); padding:4px 0px; position: fixed; height: 40px;z-index: 100;">
	<div class="container text_center">
		<div class="fluid_grid_16">
			<div class="fluid_grid_7">
				<a href="/" class="color_gray_low heading5 other" title="About">
					<h3  style="padding-top: 10px;"><%ABOUT_MENU_TR%><h3>
				</a>
			</div>
			<div class="fluid_grid_2">
				<a href="/" title="Lidiun">
					<img src="<%LAYOUT_TAG%>img/ico/logo.jpg" alt="Lidiun" style="max-width: 60px; border-radius: 100%; ">
				</a>
			</div>
			<div class="fluid_grid_7">
				<a href="/" class="color_gray_low heading5 other" title="Documentation">
					<h3  style="padding-top: 10px;"><%DOCUMENTATION_MENU_TR%><h3>
				</a>
			</div>
		</div>
	</div>
</nav>