/*========================================================================================================

	PATTERN CSS ©2012 - Base
	By Natan Dias - http://www.natandias.com
	Version: 2
	Creat: Nov/2012
	Last Update: 07/03

========================================================================================================*/

* { margin:0; padding:0; outline:0;}                   

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video { border: 0; font-size: 100%; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}
textarea {font-family:Arial, sans-serif; font-size:13px;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after, q:before, q:after { content:'';}
table { border-collapse: collapse; border-spacing: 0;}
:focus { outline: none;}

/* General styles */
html, button, input, select, textarea { font-family: Arial, Helvetica, sans-serif;}
body { font-size:13px; line-height:normal; color:rgb(34,34,34); overflow-y: scroll;}
img { width:auto; height:auto; max-width:100%; vertical-align:middle; border:0;}

a:link, a:visited { color:#09C; text-decoration:none; outline:none;}
a:hover { color:#09C; text-decoration:none;}

hr { border:none;}



/*========================================================================================================

	PATTERN CSS ©2012 - Bonnes

========================================================================================================*/
[class^="fix_"] { width:100%; position:relative; clear:both;}

.container { width:1020px; margin:0 auto; }
.container_fluid { width:90%; margin:0 auto;}
.content { min-height:540px;}
.container::before, .container::after { display:block; content:"."; clear:both; visibility:hidden; height:0; overflow:hidden;}



/*========================================================================================================

	1020 Grid System ~ Basead to 960 Grid System

========================================================================================================*/
[class^="fluid_grid_"] { display:inline-block; position:relative; float:left; margin-left:1%; margin-right:1%; min-height:10px;}

/* Fluid Grid*/
.fluid_grid_1  {width:4.25%; } .fluid_grid_2  {width:10.5%; } .fluid_grid_3  {width:16.75%;}
.fluid_grid_4  {width:23.0%; } .fluid_grid_5  {width:29.25%;} .fluid_grid_6  {width:35.5%; }
.fluid_grid_7  {width:41.75%;} .fluid_grid_8  {width:48.0%; } .fluid_grid_9  {width:54.25%;}
.fluid_grid_10 {width:60.5%; } .fluid_grid_11 {width:66.75%;} .fluid_grid_12 {width:73.0%; }
.fluid_grid_13 {width:79.25%;} .fluid_grid_14 {width:85.5%; } .fluid_grid_15 {width:91.75%;}
.fluid_grid_16 {width:98.0%; }

/* Span */
.span_1  {width:4.25%  !important;} .span_2  {width:10.5%  !important;} .span_3  {width:16.75% !important;}
.span_4  {width:23.0%  !important;} .span_5  {width:29.25% !important;} .span_6  {width:35.5%  !important;}
.span_7  {width:41.75% !important;} .span_8  {width:48.0%  !important;} .span_9  {width:54.25% !important;}
.span_10 {width:60.5%  !important;} .span_11 {width:66.75% !important;} .span_12 {width:73.0%  !important;}
.span_13 {width:79.25% !important;} .span_14 {width:85.5%  !important;} .span_15 {width:91.75% !important;}
.span_16 {width:98.0%  !important;}

.grid_3 img  { max-width:235px; max-height:235px;}
.grid_3.link a  { display:block; padding:2px 0;}



/*========================================================================================================

	PATTERN CSS ©2012 - Galery_display

========================================================================================================*/
.galery_display { list-style:none; margin:0; padding:0; clear:both;}

.display_galery [class^="fluid_grid_"] { margin-right:0.5%; float:none; vertical-align:middle;}
.display_galery { padding:10px 0 10px 0; overflow:hidden; display:block; clear:both;}
.display_galery img { max-width:95%; max-height:95%;}

/* .Display_galery  SAMPLE 1 */
.galery_display.sample1 .display_galery { border-bottom: solid 1px #DDD;}
.galery_display.sample1 .display_galery:hover { background:#FAFAFA; border-bottom: solid 1px #CCC;}

/* .Display_galery  TABLE */
.galery_display.table { border-top:solid 1px #DDD; border-left:solid 1px #DDD; border-right:solid 1px #DDD; background:#FFF; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;}
.galery_display.table .display_galery { border-bottom: solid 1px #DDD;}
.galery_display.table .display_galery:hover { background:#FAFAFA;}

/* .Textare  Coment */
.textarea_coment{width:100%; text-indent:15px; height:54px; min-height:0px; padding:18px 0px 18px 0px; margin:0 !important; overflow:hidden; resize: none;}
.textarea_coment_small{width:99%!important; text-indent:15px; height:32px; min-height:0px; padding:8px 0px 8px 0px; margin:0 !important; overflow:hidden; resize: none;}

/* .Span  Coment */
.span_coment{background: #EFEFFF; border: 1px solid #EEE; width:91%; text-indent:15px; height:17px; min-height:0px; padding:18px 0px 18px 0px; margin:0 !important;}
.span_coment_small{background: #EFEFFF; border: 1px solid #EEE; width:95%; text-indent:15px; height:16px; min-height:0px; padding:7px 0px 8px 0px; margin:0 !important; }

/*========================================================================================================

	PATTERN CSS ©2012 - Galery_display

========================================================================================================*/
.display_column {}
.display_column [class^="fluid_grid_"] {}

/*
.display_column .image_product {overflow:hidden; vertical-align:middle; text-align:center; min-height:150px;}
.display_column .image_product img { max-height:150px;}

.display_column .image_store { text-align:center;}
.display_column .image_store img {}
*/

.display_column a:hover { color:#06C;}

.display_column ul { margin:10px; font-size:12px;}
.display_column ul li { padding:0;}


/*========================================================================================================

	PATTERN CSS ©2012 - Tools

========================================================================================================*/
/* Float right and left */
.float_right{float: right;}
.float_left{float: left;}

/* Clear Space of web site */
.clear_fix {}
.clear_fix::before, .clear_fix::after { display:block; content:"."; clear:both; visibility:hidden; height:0; overflow:hidden;}

.clear10 { width:100%; height:10px; border:none; clear:both;}
.clear20 { width:100%; height:20px; border:none; clear:both;}
.clear40 { width:100%; height:40px; border:none; clear:both;}
.clear60 { width:100%; height:60px; border:none; clear:both;}
.clear80 { width:100%; height:80px; border:none; clear:both;}
.clear100 { width:100%; height:100px; border:none; clear:both;}

.clear10::before, .clear10::after,
.clear20::before, .clear20::after,
.clear40::before, .clear40::after,
.clear60::before, .clear60::after { display:block; content:"."; clear:both; visibility:hidden; height:0; overflow:hidden;}

/* Pagination */
.pagination { display:block; height:100%; clear:both;}
.pagination ul.right { text-align:right;}
.pagination ul li { display:inline;}
.pagination ul li a { 
	display:inline-block;
	padding:5px 10px;
	color:#333;
	border-radius:3px;
	border:solid 1px #CCC;
	box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;
	
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
}
.pagination ul li a.active, .pagination ul li a:hover {
	color:#FFF;
	border:solid 1px #000;
	
	background: #45484d;
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%);
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%);
	background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}

/* Fonts */
.slogan {font-family: 'Roboto Slab', cursive !important; font-size: 25px !important;}
.title {font-family: 'Life Savers', cursive; !important; font-size: 80px !important; font-weight: bold !important;}

.align_midle { vertical-align:middle;}

/* Divider */
.divider { height:1px; display:block; margin:5px 1px; overflow:hidden; background-color:#EEE; border-bottom:solid 1px rgb(255,255,255);}

/* Positions contend */
.center { width:100%; display:block; clear:both; text-align:center;}

/* No Decoration */
.no_decoration {text-decoration:none !important;}

/* Search */
.search_container { background: #fafafa; border:solid 1px #DDD;}
.search_container input { border:0; font-size:14px; padding:10px; float:left; background:transparent;}
.search_container input:focus { border:none;}
.search_container input[type="text"] { width:90%;}
.search_container input[type="submit"] { width:10%; float:right; cursor:pointer; background:url(../img/ico/lupa-busca-bk.png) no-repeat center center;}

/* Social Plugins */
.social_plugin { display:block; clear:both; text-align:right;}
.social_plugin li { display:inline-block; vertical-align:top;}

/* Aling */
.aling_center { text-align:center 	  !important;}
.aling_midlle { vertical-align:middle !important;}
.aling_top    { vertical-align:top    !important;}
.aling_bottom { vertical-align:bottom !important;}



/*========================================================================================================

	PATTERN CSS ©2012 - Text

========================================================================================================*/
[class^=heading],
[class^=masterhead] 	  { font-family: Arial, Helvetica, sans-serif; font-weight:300;}
[class^=heading].other,
[class^=masterhead].other { font-family: 'Source Sans Pro', sans-serif;}

.masterhead1 { font-size:120px !important;} .masterhead2 { font-size:90px !important;}
.masterhead3 { font-size:70px  !important;} .masterhead4 { font-size:50px !important;}

/* Tamanho dos Heading */
.heading1 { font-size:32px !important;} .heading2 { font-size:27px !important;} .heading3 { font-size:24px !important;}
.heading4 { font-size:20px !important;} .heading5 { font-size:18px !important;} .heading6 { font-size:16px !important;}
.heading7 { font-size:14px !important;} .heading8 { font-size:11px !important;} .heading9 { font-size:9px !important; }

h1, h2, h3, h4, h5, h6 { font-weight:normal;}

/* Text-aling */
.text_left    { text-align:left   !important;}
.text_center  { text-align:center !important;}
.text_right   { text-align:right  !important;}

p { margin:0 0 10px;}

/* Font Weight */
.bold {font-weight:700 !important;}

/* Uppercase */
.uppercase {text-transform:uppercase !important;}



/*========================================================================================================

	PATTERN CSS ©2012 - Mark

========================================================================================================*/
.mark { padding:2px; border-radius:3px; background:#CCC;}

/* Medidas */
.mark_large3 { padding:4px;} .mark_large2  { padding:6px;} .mark_large1  { padding:8px;}



/*========================================================================================================

	PATTERN CSS ©2012 - Personalização Padrão

========================================================================================================*/
/* Cores de Textos */
.color_black   { color:#000 !important;}
.color_black_low   { color:#555 !important;}
.color_white   { color:#FFF !important;}
.color_gray    { color:#999 !important;}
.color_gray_low    { color:#CCC !important;}
.color_yellow  { color:#FC0 !important;}
.color_yellow_low  { color:#FC0 !important;}
.color_red     { color:#F00 !important;}
.color_red_low     { color:#F00 !important;}
.color_blue    { color:#09C !important;}
.color_blue_low    { color:#09C !important;}
.color_green   { color:#093 !important;}
.color_green_low   { color:#093 !important;}

/* Cores de Fundos */
.background_gray    	{ background:#999 !important;}
.background_gray_low { background:#FAFAFA !important;}
.background_yellow  	{ background:#FC0 !important;}
.background_yellow_low{ background:#FF9 !important;}
.background_black_low{ background:#F1F2F3 !important;}
.background_black      { background:#000 !important;}
.background_white    	{ background:#FFF !important;}
.background_red     	{ background:#F00 !important;}
.background_blue    	{ background:#548dcb !important;}
.background_green   	{ background:#093 !important;}

/* Shadow BLOCK*/
.shadow {-moz-box-shadow:0px 0px 20px #555; box-shadow: 0 0 20px #555;  -webkit-box-shadow:0 0 20px #555;}
.shadow_img {-moz-box-shadow:0px 0px 12px 0px #FFF; box-shadow: 0px 0px 12px 0px #FFF;  -webkit-box-shadow:0px 0px 12px 0px #FFF;}
.shadow_top {-moz-box-shadow:0px -15px 20px 0px #BBB; box-shadow:0px -15px 20px -15px #BBB;  -webkit-box-shadow:0px -15px 20px -15px #BBB;}
.shadow_top_right {-moz-box-shadow:10px -5px 20px #DDD; box-shadow:10px -5px 20px #DDD;  -webkit-box-shadow:10px -5px 20px #DDD;}
.shadow_bottom {-moz-box-shadow:0px 15px 20px 0px #444; box-shadow:0px 15px 20px -15px #444;  -webkit-box-shadow:0px 15px 20px -15px #444;}
.shadow_inset {-moz-box-shadow:0 0 20px #DDD; box-shadow:0 0 20px #DDD; -webkit-box-shadow:0 0 20px #DDD;}

/* Radius BLOCK*/
.border_radius: {border-radius:8px;}


/*========================================================================================================

	PATTERN CSS ©2012 - Box

========================================================================================================*/
[class^=box_] { display:block; overflow:hidden; border-radius:3px;}
.box_small { padding:5px;}
.box_large { padding:20px;}

.box_polaroid {border: 1px solid #CCC; border-radius:3px;}



/*========================================================================================================

	PATTERN CSS ©2012 - Listas

========================================================================================================*/
ul, ol { display:block; clear:both; margin:0 25px;}
ul ul, ul ol, ol ul, ol ol { margin-bottom:0;}
ul li, ol li, ul.unstyled li { padding:3px 0;}

ul.unstyled, ul.inline { list-style:none; margin:0;}
ul.unstyled li { display:block;}
ul.inline li { display:inline-block; padding:0 4px;}
ul.inline li a { color:inherit;}



/*========================================================================================================

	PATTERN CSS ©2012 - Menu

========================================================================================================*/
.nav li { position:relative; padding:0 0 !important;}
.nav li a { display:block; padding:5px 0 5px 5px; color:#666; text-decoration:none;}
.nav li a:hover {color:#09C;}
.nav li:hover a, .nav li.active { background:#EEE;}

/* TOOLS */
.nav li a .mark { font-size:12px; font-weight:bold; padding:2px 6px; position:absolute; top:4px; right:3px; color:#FFF;}


/*========================================================================================================

	PATTERN CSS ©2012 - HiddenHover (NPD All rights reserveds)

========================================================================================================*/
.blockHiddenhover { position:relative;}
.hiddenHover { display:none;}
*:hover > .hiddenHover {
	display:block;
	position:absolute;
	bottom:0;
	padding:10px 0;
	width:100%;
	color:#FFF;
	background:rgba(0,0,0,0.9);
}



/*========================================================================================================

	PATTERN CSS ©2012 - Images

========================================================================================================*/
.image_fluid { border:solid 1px #CCC; text-align:center; padding:10px; background:#FFF; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;}
.image_fluid img { max-height:400px;}

.img_rounded { border-radius:5px;}
.img_polaroid { padding:5px; background:#FFF; border:solid 1px #CCC; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;}


/*========================================================================================================

	PATTERN CSS ©2012 - Formulários

========================================================================================================*/
input:-moz-placeholder, textarea:-moz-placeholder { color: #999999;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999999;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999999;}

button::-moz-focus-inner,input::-moz-focus-inner { padding: 0; border: 0;}
input, textarea, select {
   color: #777;
   border: solid 1px #EEE;
   padding:10px 5px;
   font-size:14px;
   color:#666;
   -webkit-appearance: none;
   background: #FFF;
   border-radius: 3px;
   box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;
}
input:disabled, input:disabled:hover, input:disabled:focus {
	background: #DDD;
} 

/* Complementos para WebKit */
select { padding:9px 5px;}
select, input[type=checkbox], input[type=radio] {
	cursor:pointer;
	border-color:#d4d4d4;
	-webkit-border-radius: 3px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
}
select:hover, select:focus,
input[type=checkbox]:hover, input[type=radio]:hover,
input[type=checkbox]:checked, input[type=radio]:checked {
	color:#333;
	border-color:#d4d4d4;
	background: #f0f0f0;
	background: -moz-linear-gradient(top,  #f0f0f0 0%, #d7d7d7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#d7d7d7));
	background: -webkit-linear-gradient(top,  #f0f0f0 0%,#d7d7d7 100%);
	background: -o-linear-gradient(top,  #f0f0f0 0%,#d7d7d7 100%);
	background: -ms-linear-gradient(top,  #f0f0f0 0%,#d7d7d7 100%);
	background: linear-gradient(to bottom,  #f0f0f0 0%,#d7d7d7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#d7d7d7',GradientType=0 );
}
input[type=checkbox], input[type=radio] {
	padding:7px 7px;
	vertical-align:middle;
	-webkit-border-radius: 0.25em;
 }
input[type=radio] {
	-webkit-border-radius: 2em;
}
input[type=radio]:checked {
   background:url(../img/ico/icon-black.png)-72px -96px;
   -webkit-background-size: auto;
}
 input[type=checkbox]:checked {
   background:url(../img/ico/icon-black.png)-312px 0;
   -webkit-background-size: auto;
}
 
textarea { min-height:100px;}
input:hover, textarea:hover,
input:focus, textarea:focus { color:#777; background:#FAFAFA; border-color:#EFEFEF;}

fieldset label { margin: 10px 0;}
.baseform fieldset label { display:block; margin:0 0 5px 0;}
.baseform fieldset input, .baseform fieldset textarea, .baseform fieldset select { width:100%; margin-bottom:5px;}

.baseform fieldset input[type="submit"], .baseform fieldset input[type="button"] { width:auto;}

.baseform ul { margin-bottom:10px;}
.baseform ul li input { width:auto; display:inline-block; margin-right:5px;}
.baseform ul li label { width:auto; display:inline; margin:0;}


/* Tools Baseform */
.baseform .required { font-weight:bold; color:#F00;}

.baseform .action { display:block; clear:both;}
.baseform .action.right { text-align:right;}


/* ----  Help Block - Todas estas funções devem ser executadas dentro de um HelpBlock ---- */
.help_block { display:block; color:#999; margin:0 0 10px 0; vertical-align:middle; clear:both;}
.error::before, .alright::before, .info::before {margin-right:5px; display:inline-block; width:14px; height:14px; vertical-align:top;}

.error { color:#F00;}
.error::before { content:""; background:url(../img/ico/icon-black.png); background-position: -312px 0;}

.alright { color:#093;}
.alright::before { content:""; background:url(../img/ico/icon-black.png); background-position: -288px 0;}

.info { color:#09C;}
.info::before { content:""; background:url(../img/ico/icon-black.png); background-position: -96px -95px;}
/* ----  Help Block - Todas estas funções devem ser executadas dentro de um HelpBlock ---- */



/*========================================================================================================

	PATTERN CSS ©2012 - Botões

========================================================================================================*/
/* Tamanho dos Botões */
.btn_auto { width:100% !important; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;}
.btn_large1 { padding:15px 35px !important; font-size:24px !important;}
.btn_large2 { padding:10px 20px !important; font-size:20px !important;}
.btn_large3 { padding:10px 20px !important; font-size:16px !important;}

.btn_small1 { padding:5px !important; font-size:14px !important;}
.btn_small2 { padding:3px !important; font-size:12px !important;}


/* Cores dos Botões */
.btn {
	display:inline-block !important;
	color:#777 !important;
	text-decoration:none !important;
	padding:10px 5px;
	margin-bottom:0;
	font-size:14px;
	text-align:center;
	border: solid 1px #DDD;
	border-radius:3px;
	cursor:pointer;

	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgb(255,255,255) 0%, rgb(229,229,229) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(255,255,255)), color-stop(100%,rgb(229,229,229)));
	background: -webkit-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%);
	background: -o-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%);
	background: -ms-linear-gradient(top,  rgb(255,255,255) 0%,rgb(229,229,229) 100%);
	background: linear-gradient(to bottom,  rgb(255,255,255) 0%,rgb(229,229,229) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

.btn:hover, .btn:focus {
	color:#FFF !important;
	border-color:#353535;

	background: #353535;
	background: -moz-linear-gradient(top,  #353535 0%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#353535), color-stop(100%,#000000));
	background: -webkit-linear-gradient(top,  #353535 0%,#000000 100%);
	background: -o-linear-gradient(top,  #353535 0%,#000000 100%);
	background: -ms-linear-gradient(top,  #353535 0%,#000000 100%);
	background: linear-gradient(to bottom,  #353535 0%,#000000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353535', endColorstr='#000000',GradientType=0 );
}

.btn_blue {
	color:#FFF !important;
	border-color:rgb(109,179,242);
	
	background: rgb(109,179,242);
	background: -moz-linear-gradient(top,  rgb(109,179,242) 0%, rgb(84,163,238) 50%, rgb(54,144,240) 51%, rgb(30,105,222) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(109,179,242)), color-stop(50%,rgb(84,163,238)), color-stop(51%,rgb(54,144,240)), color-stop(100%,rgb(30,105,222)));
	background: -webkit-linear-gradient(top,  rgb(109,179,242) 0%,rgb(84,163,238) 50%,rgb(54,144,240) 51%,rgb(30,105,222) 100%);
	background: -o-linear-gradient(top,  rgb(109,179,242) 0%,rgb(84,163,238) 50%,rgb(54,144,240) 51%,rgb(30,105,222) 100%);
	background: -ms-linear-gradient(top,  rgb(109,179,242) 0%,rgb(84,163,238) 50%,rgb(54,144,240) 51%,rgb(30,105,222) 100%);
	background: linear-gradient(to bottom,  rgb(109,179,242) 0%,rgb(84,163,238) 50%,rgb(54,144,240) 51%,rgb(30,105,222) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 );
}

.btn_blue:hover, .btn_blue:focus {
	border-color:rgb(37,141,200);
	
	background: rgb(37,141,200);
	background: -moz-linear-gradient(top,  rgb(37,141,200) 0%, rgb(37,141,200) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(37,141,200)), color-stop(100%,rgb(37,141,200)));
	background: -webkit-linear-gradient(top,  rgb(37,141,200) 0%,rgb(37,141,200) 100%);
	background: -o-linear-gradient(top,  rgb(37,141,200) 0%,rgb(37,141,200) 100%);
	background: -ms-linear-gradient(top,  rgb(37,141,200) 0%,rgb(37,141,200) 100%);
	background: linear-gradient(to bottom,  rgb(37,141,200) 0%,rgb(37,141,200) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258dc8', endColorstr='#258dc8',GradientType=0 );
}

.btn_red {
	color:#FFF !important;
	border-color:#f01800;

	background: #f01800;
	background: -moz-linear-gradient(top,  #f01800 0%, #b20404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f01800), color-stop(100%,#b20404));
	background: -webkit-linear-gradient(top,  #f01800 0%,#b20404 100%);
	background: -o-linear-gradient(top,  #f01800 0%,#b20404 100%);
	background: -ms-linear-gradient(top,  #f01800 0%,#b20404 100%);
	background: linear-gradient(to bottom,  #f01800 0%,#b20404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f01800', endColorstr='#b20404',GradientType=0 );
}

.btn_red:hover, .btn_red:focus {
	border-color:rgb(204,0,0);

	background: rgb(204,0,0);
	background: -moz-linear-gradient(top,  rgb(204,0,0) 0%, rgb(204,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204,0,0)), color-stop(100%,rgb(204,0,0)));
	background: -webkit-linear-gradient(top,  rgb(204,0,0) 0%,rgb(204,0,0) 100%);
	background: -o-linear-gradient(top,  rgb(204,0,0) 0%,rgb(204,0,0) 100%);
	background: -ms-linear-gradient(top,  rgb(204,0,0) 0%,rgb(204,0,0) 100%);
	background: linear-gradient(to bottom,  rgb(204,0,0) 0%,rgb(204,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 );
}

.btn_black {
	color:#FFF !important;
	border-color:#000;
	
	background: rgb(69,72,77);
	background: -moz-linear-gradient(top,  rgb(69,72,77) 0%, rgb(0,0,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(69,72,77)), color-stop(100%,rgb(0,0,0)));
	background: -webkit-linear-gradient(top,  rgb(69,72,77) 0%,rgb(0,0,0) 100%);
	background: -o-linear-gradient(top,  rgb(69,72,77) 0%,rgb(0,0,0) 100%);
	background: -ms-linear-gradient(top,  rgb(69,72,77) 0%,rgb(0,0,0) 100%);
	background: linear-gradient(to bottom,  rgb(69,72,77) 0%,rgb(0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}



/*========================================================================================================

	PATTERN CSS ©2012 - ICONS http://glyphicons.com/

========================================================================================================*/
[class^="icon-"] { width:14px; height:14px; display:inline-block; line-height:14px; background:url(../img/ico/icon-black.png);}
.icon-black { background:url(../img/ico/icon-black.png);}
.icon-white { background:url(../img/ico/icon-white.png);}
.icon-glass { background-position: 0 0;}
.icon-music { background-position: -24px 0;}
.icon-search { background-position: -48px 0;}
.icon-envelope { background-position: -72px 0;}
.icon-heart { background-position: -96px 0;}
.icon-star { background-position: -120px 0;}
.icon-star-empty { background-position: -144px 0;}
.icon-user { background-position: -168px 0;}
.icon-film { background-position: -192px 0;}
.icon-th-large { background-position: -216px 0;}
.icon-th { background-position: -240px 0;}
.icon-th-list { background-position: -264px 0;}
.icon-ok { background-position: -288px 0;}
.icon-remove { background-position: -312px 0;}
.icon-zoom-in { background-position: -336px 0;}
.icon-zoom-out { background-position: -360px 0;}
.icon-off { background-position: -384px 0;}
.icon-signal { background-position: -408px 0;}
.icon-cog { background-position: -432px 0;}
.icon-trash { background-position: -456px 0;}
.icon-home { background-position: 0 -24px;}
.icon-file { background-position: -24px -24px;}
.icon-time { background-position: -48px -24px;}
.icon-road { background-position: -72px -24px;}
.icon-download-alt { background-position: -96px -24px;}
.icon-download { background-position: -120px -24px;}
.icon-upload { background-position: -144px -24px;}
.icon-inbox { background-position: -168px -24px;}
.icon-play-circle { background-position: -192px -24px;}
.icon-repeat { background-position: -216px -24px;}
.icon-refresh { background-position: -240px -24px;}
.icon-list-alt { background-position: -264px -24px;}
.icon-lock { background-position: -287px -24px;}
.icon-flag { background-position: -312px -24px;}
.icon-headphones { background-position: -336px -24px;}
.icon-volume-off { background-position: -360px -24px;}
.icon-volume-down { background-position: -384px -24px;}
.icon-volume-up { background-position: -408px -24px;}
.icon-qrcode { background-position: -432px -24px;}
.icon-barcode { background-position: -456px -24px;}
.icon-tag { background-position: 0 -48px;}
.icon-tags { background-position: -25px -48px;}
.icon-book { background-position: -48px -48px;}
.icon-bookmark { background-position: -72px -48px;}
.icon-print { background-position: -96px -48px;}
.icon-camera { background-position: -120px -48px;}
.icon-font { background-position: -144px -48px;}
.icon-bold { background-position: -167px -48px;}
.icon-italic { background-position: -192px -48px;}
.icon-text-height { background-position: -216px -48px;}
.icon-text-width { background-position: -240px -48px;}
.icon-align-left { background-position: -264px -48px;}
.icon-align-center { background-position: -288px -48px;}
.icon-align-right { background-position: -312px -48px;}
.icon-align-justify { background-position: -336px -48px;}
.icon-list { background-position: -360px -48px;}
.icon-indent-left { background-position: -384px -48px;}
.icon-indent-right { background-position: -408px -48px;}
.icon-facetime-video { background-position: -432px -48px;}
.icon-picture { background-position: -456px -48px;}
.icon-pencil { background-position: 0 -72px;}
.icon-map-marker { background-position: -24px -72px;}
.icon-adjust { background-position: -48px -72px;}
.icon-tint { background-position: -72px -72px;}
.icon-edit { background-position: -96px -72px;}
.icon-share { background-position: -120px -72px;}
.icon-check { background-position: -144px -72px;}
.icon-move { background-position: -168px -72px;}
.icon-step-backward { background-position: -192px -72px;}
.icon-fast-backward { background-position: -216px -72px;}
.icon-backward { background-position: -240px -72px;}
.icon-play { background-position: -264px -72px;}
.icon-pause { background-position: -288px -72px;}
.icon-stop { background-position: -312px -72px;}
.icon-forward { background-position: -336px -72px;}
.icon-fast-forward { background-position: -360px -72px;}
.icon-step-forward { background-position: -384px -72px;}
.icon-eject { background-position: -408px -72px;}
.icon-chevron-left { background-position: -432px -72px;}
.icon-chevron-right { background-position: -456px -72px;}
.icon-plus-sign { background-position: 0 -96px;}
.icon-minus-sign { background-position: -24px -96px;}
.icon-remove-sign { background-position: -48px -96px;}
.icon-ok-sign { background-position: -72px -96px;}
.icon-question-sign { background-position: -96px -96px;}
.icon-info-sign { background-position: -120px -96px;}
.icon-screenshot { background-position: -144px -96px;}
.icon-remove-circle { background-position: -168px -96px;}
.icon-ok-circle { background-position: -192px -96px;}
.icon-ban-circle { background-position: -216px -96px;}
.icon-arrow-left { background-position: -240px -96px;}
.icon-arrow-right { background-position: -264px -96px;}
.icon-arrow-up { background-position: -289px -96px;}
.icon-arrow-down { background-position: -312px -96px;}
.icon-share-alt { background-position: -336px -96px;}
.icon-resize-full { background-position: -360px -96px;}
.icon-resize-small { background-position: -384px -96px;}
.icon-plus { background-position: -408px -96px;}
.icon-minus { background-position: -433px -96px;}
.icon-asterisk { background-position: -456px -96px;}
.icon-exclamation-sign { background-position: 0 -120px;}
.icon-gift { background-position: -24px -120px;}
.icon-leaf { background-position: -48px -120px;}
.icon-fire { background-position: -72px -120px;}
.icon-eye-open { background-position: -96px -120px;}
.icon-eye-close { background-position: -120px -120px;}
.icon-warning-sign { background-position: -144px -120px;}
.icon-plane { background-position: -168px -120px;}
.icon-calendar { background-position: -192px -120px;}
.icon-random { width: 16px; background-position: -216px -120px;}
.icon-comment { background-position: -240px -120px;}
.icon-magnet { background-position: -264px -120px;}
.icon-chevron-up { background-position: -288px -120px;}
.icon-chevron-down { background-position: -313px -119px;}
.icon-retweet { background-position: -336px -120px;}
.icon-shopping-cart { background-position: -360px -120px;}
.icon-folder-close { background-position: -384px -120px;}
.icon-folder-open { width: 16px; background-position: -408px -120px;}
.icon-resize-vertical { background-position: -432px -119px;}
.icon-resize-horizontal { background-position: -456px -118px;}
.icon-hdd { background-position: 0 -144px;}
.icon-bullhorn { background-position: -24px -144px;}
.icon-bell { background-position: -48px -144px;}
.icon-certificate { background-position: -72px -144px;}
.icon-thumbs-up { background-position: -96px -144px;}
.icon-thumbs-down { background-position: -120px -144px;}
.icon-hand-right { background-position: -144px -144px;}
.icon-hand-left { background-position: -168px -144px;}
.icon-hand-up { background-position: -192px -144px;}
.icon-hand-down { background-position: -216px -144px;}
.icon-circle-arrow-right { background-position: -240px -144px;}
.icon-circle-arrow-left { background-position: -264px -144px;}
.icon-circle-arrow-up { background-position: -288px -144px;}
.icon-circle-arrow-down { background-position: -312px -144px;}
.icon-globe { background-position: -336px -144px;}
.icon-wrench { background-position: -360px -144px;}
.icon-tasks { background-position: -384px -144px;}
.icon-filter { background-position: -408px -144px;}
.icon-briefcase { background-position: -432px -144px;}
.icon-fullscreen { background-position: -456px -144px;}
.icon-conf { background-position: -430px 0px;}
.icon-home { background-position: 0px -24px;}